
body, html {
    height: 100%;
}

body{
	margin:0;
}

.image1, .image2, .image3, .image4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: -1;
	opacity:0.8;
}

.image1{height: 100%;background-image: url("../Pictures/Compressed Images/Dandilion Stack-min.jpg"); margin-top:0px;}
.image2{min-height: 550px;background-image: url("../Pictures/Compressed Images/DSC04843-min.jpg");}
.image3{height: 100%;background-image: url("../Pictures/Compressed Images/DSC06096_7_8_tonemapped-min.jpg");}
.image4{height: 100%;background-image: url("../Pictures/Compressed Images/Theres Snow 1-min.jpg");}
.image5{ background: url("../Pictures/Compressed Images/DSC09825-min.jpg") no-repeat center fixed; background-size: cover;

}


.a:link :visited{
    text-decoration: none;
}


.pbox {
	height:300px;
	background-color:#8B8B8B;
	font-size:20px;
	position:relative;
	line-height: 300px;
    text-align: center;
	opacity:0.9;
}

.pheading {
	margin:0;
	line-height:40px;
	padding-top:30px;
	
}

.ptext { 
    line-height:1.5;
	display: inline-block;
    vertical-align: middle;
	padding-left: 80px;
	padding-right:80px;
}

	
	
.heading {
	font-size:25px;
	height:80px;
	width:400px;
	background-color:#8B8B8B;
	border-radius:6px;
    text-align: center;
	top:30%;
	margin:auto;
	position: relative ;
	opacity:0.9;
	}

.headingtext{ 
   	position: relative;
	vertical-align: middle;
	line-height:80px;
	}

.greentext {
	color:#0C3;
	margin-left: 20px;
	}

.center {
	margin:auto;
	text-align:center;
	float:middle;
}

 	 
.text {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
  
   
}

.picture {
   float: left;
   margin-left: 400px;
   padding: 10px;
   z-index:0;
   position:relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

.liEnd{
	margin:0 46%;
    opacity: 0.9;
	position:relative;
}


	
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.4);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(0,0,0,0.4)}

.dropdown:hover .dropdown-content {
    display: block;
}


.login-box {
    width: 500px;
	height: 250px;
    background-color: #8B8B8B ;
	text-align: center;
    border-radius: 6px;
	padding-top:20px;
	padding-left: 5px;
	padding-right: 5px;
	top:20%;
	z-index: 1;
	margin:auto;
    position:relative;
	opacity:0.95;	
	
}

.login-box-background {
	
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
	display:none;  

}

.login-text {
	color:#000;
}

.login-text2 {
	color:#000;
	padding-top:20px;
}

.buttonL{
	cursor: pointer;
	border:2px outset #4d4d4d;
	border-radius:4px;
	background-color:#8B8B8B;
	transition-duration: 0.3s;
	
}

.buttonL:hover{
	background-color: #4d4d4d;
}

.close {
    position: absolute;
    right: 6px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
	float: right;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate-zoom {animation:animatezoom 0.4s}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

/* Picture slide */

.BoxT{
	background-color:#8B8B8B;
	width:1030px;
	height:846px;
	margin: auto;
	margin-top:1.5%;
	margin-bottom:1.5%;
	border-radius:10px;
	opacity:0.97;
	}


.BoxO{
	margin:auto;
	width:1000px;
	height:600px;
	padding-top:15px;
    position:inherit;
   
 }


.mySlides {
	display:none;
	position:inherit;
	height:100%;
	margin:auto;
	
}

.demo {
	cursor:pointer;
	width:inherit;
	height:100%;

}


.Box1{
	margin-top:16px;
	margin-bottom:16px;
	padding:0 2px;
	
	
}

.BoxPic{
	float:left;
	width:296px;
	height:200px;
	position:inherit;

}

.Nodisplay{
	display:none;
	
	
}
.opacity{
	opacity:0.60;
	position:inherit;
}

.opacity-off{
	opacity:1;
}

.hover-opacity-off:hover{
	opacity:1;
}

.buttonP{
	height:42px;
	width:30px;
	font-size: 135%;
	background-color:#8B8B8B;
	opacity:0.97;
	border: 2px outset #4d4d4d;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	transition-duration: 0.3s;
}

.buttonP:hover{
	background-color: #4d4d4d;
}


.b-display-left{
	float:left;
	position:inherit;
    margin-top:78px;	
	
}

.b-display-right{
	float:right;
	position:inherit;		
	margin-top:78px;
}

.animate-opacity{
	animation:opac 0.7s;
	
}

@keyframes opac{from{opacity:0} to{opacity:1}}